.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #333;
    color: #fff;
}

.title {
    font-size: 24px;
    font-weight: bold;background-color: #333;
}

.time-left {
    font-size: 16px;background-color: #333;

}

.question-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;background-color: #f5f5f5;
}

.question-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;background-color: #f5f5f5;
}

.question-text {
    font-size: 18px;
    margin-bottom: 16px;
    padding: 1%;
    background-color: #c6bebe;
}

.option {
    padding: 8px 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;background-color: #c6bebe;
    cursor: pointer;
}

.option:hover {
    background-color: #a3c4cd;
}

.selected {
    background-color: #d7efef;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: auto 1% 1% 1%;
    border-radius: 10px;
    padding: 16px;
    background-color: #333;
    color: #fff;
}

.marks {
    font-size: 16px;background-color: #333;
}

.actions {
    display: flex;background-color: #333;
}

.actions button {
    padding: 8px 16px;
    margin-right: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #45a049;
}

.actions button:last-child {
    background-color: #f44336;
    margin-right: 0;
}

.actions button:last-child:hover {
    background-color: #da190b;
}

.question-box {
    display: flex;
background-color: #d6cfcf;
padding: 2%;
}

.question-nos {
    /* border: 1px solid red; */
    width: 25%;
    cursor: pointer;
    /* height: ; */
    padding: 1%;background-color: #e9e1e1;
    margin: 0.4%;
    border-radius: 2px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.no {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 5%;
    row-gap: 0px;background-color: #eee1e1;
}

.qus-n {
    text-align: center;background-color: #e3dede;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}